gunicorn==20.0.4
flask==1.1.2
flask-wtf==0.14.3
wtforms[email]==2.3.3
flask-sqlalchemy==2.4.4
flask-script==2.0.6
flask-login==0.5.0
flask-admin==1.5.7
flask-mail==0.9.1
psycopg2-binary==2.8.6
requests==2.24.0